/* Newsletter PopUp */.subscribe_area > h2, .subscribe-content > h2 {
  color: #000000;
}
.subscribe_area > p, .subscribe-content > p {
  color: #666666;
}
.grid__item h1{
  color: ;
}
.subscribe-form-input {
  border: 1px solid #ddd;
  color: #ddd;
}
.subscribe-form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd !important;
}
.subscribe-form-input::-moz-placeholder { /* Firefox 19+ */
  color: #ddd !important;
}
.subscribe-form-input:-ms-input-placeholder { /* IE 10+ */
  color: #ddd !important;
}
.subscribe-form-input:placeholder { /* Firefox 18- */
  color: #ddd !important;
}
.newsletter-btn {
  background: #000000 none repeat scroll 0 0;
  color: #fff;
}
.newsletter-btn:hover{
  background: #666666 none repeat scroll 0 0;
  color: #fff;
}
.popup_off{
  color: #999999;
}
.newsletter_popup_inner:before {
  background: #ffffff;
  opacity: 0.1;
}
.form-group.subscribe-form-group p {
  color: #000000;
}


/* Breadcurmb Banner */
.breadcrumb-area {
  background: #f6f6f6 url("../../../files/bread20fe.jpg?v=1567943980") no-repeat scroll center center / cover;
    padding-top: 130px;
    padding-bottom: 130px;
    }
.breadcrumb-content__title {
  color: #333333;
}
.breadcrumb-content__page-map li > li > a {
  color: #333333;
}
.breadcrumb-content__page-map li > li::before {
  color: #333333;
}
.breadcrumb-content__page-map > li {
  color: #333333;
}

.breadcrumb-content__page-map li span {
	color: #00bfc5;
}
@media (max-width: 767px) {
  .breadcrumb-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


.breadcrumb-content__page-map li
/* Top Bar Noticfication */

.top-notification-bar {
  background: #f4bbfa;
  background: -moz-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f4bbfa), color-stop(100%, #f4bbfa));
  background: -webkit-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: -o-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: -ms-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: linear-gradient(to right, #f4bbfa 0%, #f4bbfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4bbfa', endColorstr='#f4bbfa', GradientType=1 );
    }

.notification-entry p a {
  background-color: #f29afa;
  border: 1px solid #000000;
  color: #000000;
}
.notification-entry p a:hover {
  background-color: #f29afa;
  border: 1px solid #000000;
  color: #000000;
}
.notification-close-btn {
  background-color: ;
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}
.notification-close-btn:hover{
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}

.notification-entry p {
  color: #000000;
}
.top-notification-bar::before {
  background: rgba(0, 0, 0, 0);
}
/* Typography */



@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n4.c86cddcf8b15d564761aaa71b6201ea326f3648b.woff2?&amp;hmac=beada421dade2a55e535fd018df2fcba589eadbc0002836c566ad6e83cf9080d") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n4.e0ee1e2c008a0f429542630edf70be01045ac5e9.woff?&amp;hmac=6ca17e818134212bbef3bd6543159373e89054b1d3df5b04b9f0dfd165935298") format("woff");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/poppins/poppins_n5.25334cd7ff48c81cfd51a6bc5a81d92a1b4d4501.woff2?&amp;hmac=7c769f34464988924e0239b014212cd09a9296c7fbb19a3c413b94209150e545") format("woff2"),
       url("https://fonts.shopifycdn.com/poppins/poppins_n5.fc8eae64d8f1b5d2b8c42b45ddc0749aff4750a6.woff?&amp;hmac=4b2b2a55d3f66823cbe20552c9b9a6df54d6d80c39b3c22ccdf696eb9cda3658") format("woff");
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/lato/lato_n4.c86cddcf8b15d564761aaa71b6201ea326f3648b.woff2?&amp;hmac=beada421dade2a55e535fd018df2fcba589eadbc0002836c566ad6e83cf9080d") format("woff2"),
       url("https://fonts.shopifycdn.com/lato/lato_n4.e0ee1e2c008a0f429542630edf70be01045ac5e9.woff?&amp;hmac=6ca17e818134212bbef3bd6543159373e89054b1d3df5b04b9f0dfd165935298") format("woff");
}


html, body, input, textarea, button, select{
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6{
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
}
p{
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
}/* End Typography */
/* Custom and Customer Page */
.theme-default-margin, .shopify-challenge__container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .theme-default-margin, .shopify-challenge__container{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.create-custom-page{
  padding-top: 100px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .create-custom-page{
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
/* End Custom Page */
/* QuickView */

/* End Quickview */




/* ======================================================================
Name: Your Theme Color CSS file
====================================================================== */
.tippy-tooltip.roundborder-theme .tippy-backdrop {
	background-color: #00bfc5;
}
.tippy-tooltip.roundborder-theme {
	background-color: #00bfc5;
}
.tippy-popper[x-placement^='top'] .tippy-tooltip.roundborder-theme .tippy-arrow {
	border-top-color: #00bfc5;
}
.navigation-menu-wrapper nav > ul > li.active > a,
.navigation-menu-wrapper nav > ul > li:hover > a {
	color: #00bfc5;
}
.navigation-menu-wrapper .sub-menu li a:hover {
	color: #00bfc5;
}
.navigation-menu-wrapper .sub-menu .sub-menu li a:hover {
	color: #00bfc5;
}
.mega-menu > li > a:hover {
	color: #00bfc5;
}
.mega-menu > li ul li a:hover {
	color: #00bfc5;
}
.header-icon-wrapper > ul > li a:hover {
	color: #00bfc5;
}
.header-cart-icon .counter {
	color: #00bfc5;
}
.mini-cart .single-cart-item .remove-icon:hover i {
	color: #00bfc5;
}
.mini-cart .single-cart-item .content .product-title a:hover {
	color: #00bfc5;
}
.setting-button:hover span {
	background: #00bfc5;
}
.settings-menu-wrapper .single-settings-block ul li a:hover,
.settings-menu-wrapper .single-settings-block ul li a.active {
	color: #00bfc5;
}
.settings-dropdown-list > li > a:hover {
	color: #00bfc5;
}
.settings-dropdown-list > li > a:hover i {
	color: #00bfc5;
}
.settings-dropdown-list > li .sub-menu > li > a:hover {
	color: #00bfc5;
}
.off-canvas-contact-widget .header-contact-info__list li a:hover {
	color: #00bfc5;
}
.offcanvas-navigation > ul > li > a:hover {
	color: #00bfc5;
}
.offcanvas-navigation ul.sub-menu > li > a:hover {
	color: #00bfc5;
}
.off-canvas-widget-social a:hover {
	color: #00bfc5;
}
.footer-area--dark-bg .footer-social-section .social-link li a:hover {
	background: #00bfc5;
}
.single-footer-widget__content .footer-navigation li a:hover {
	color: #00bfc5;
}
.footer-copyright-wrapper .copyright-text a {
	color: #00bfc5;
}
.footer-copyright-wrapper .copyright-navigation-wrapper .copyright-nav li a:hover {
	color: #00bfc5;
}
.copyright-social-wrapper .copyright-social li a:hover {
	color: #00bfc5;
}
.search-form form input {
	border-bottom: 1px solid #00bfc5;
}
.search-form form button:hover {
	color: #00bfc5;
}
.close-search-overlay:hover {
	color: #00bfc5;
}
.single-category-item__content a:hover {
	color: #00bfc5;
}
.single-category-item__content a i {
	color: #00bfc5;
}
.single-grid-product__label span.new {
	background-color: #00bfc5;
}
.single-grid-product__image .hover-icons a:hover,
.single-grid-product__image .hover-icons a.active {
	color: #00bfc5;
}
.single-grid-product__title a:hover {
	color: #00bfc5;
}
.single-grid-product__price .discounted-price {
	color: #00bfc5;
}
.single-slider-post__content .title a:hover {
	color: #00bfc5;
}
.single-slider-post__content .blog-post-link:hover {
	color: #00bfc5;
}
.single-hover-banner__content .banner-link:hover {
	color: #00bfc5;
	border-color: #00bfc5;
}
.single-hover-banner--middlesize-text__content .banner-link:hover {
	color: #00bfc5;
	border-color: #00bfc5;
}
.newsletter-form button:hover {
	color: #00bfc5;
}
.newsletter-popup-content .close-newsletter-popup:hover {
	background-color: #00bfc5;
}
.newsletter-popup-content .subscription-form form button:hover {
	background-color: #00bfc5;
}
#scroll-top:hover {
	color: #00bfc5;
	border-color: #00bfc5;
}
.breadcrumb-content__page-map li a:hover {
	color: #00bfc5;
}
.breadcrumb-content__page-map li a.active {
	color: #00bfc5;
}
.pagination-area__right .pagination-section li a:hover,
.pagination-area__right .pagination-section li a.active {
	color: #00bfc5;
}
.single-sidebar-widget__category-list li a:hover,
.single-sidebar-widget__category-list li a.active {
	color: #00bfc5;
}
.single-sidebar-widget__category-list li a:hover span,
.single-sidebar-widget__category-list li a.active span {
	background: #00bfc5;
}
.single-sidebar-widget__category-list--abs-icon li a:hover:before {
	border-color: #00bfc5;
}
.sidebar-price #price-range .ui-slider-range {
	background-color: #00bfc5;
}
.product-details-slider-area .big-image-wrapper .enlarge-icon a:hover {
	color: #00bfc5;
}
.product-details-small-image-slider-wrapper .slick-list .slick-active.slick-current .single-image img {
	border: 1px solid #00bfc5;
}
.single-product-content-description .single-info a:hover {
	color: #00bfc5;
}
.single-product-content-description .review-count a:hover {
	color: #00bfc5;
}
.color span.active {
	border-color: #00bfc5;
}
.group-product-form .table-content table td.product-name a:hover {
	color: #00bfc5;
}
.cart-btn {
	color: #00bfc5;
	border: 2px solid #00bfc5;
}
.wishlist-compare-btn a:hover i {
	color: #00bfc5;
}
.rating-form input[type='submit']:hover {
	border-color: #00bfc5;
	background-color: #00bfc5;
}
.cart-table td.pro-title a:hover {
	color: #00bfc5;
}
.cart-table td.pro-addtocart button {
	border: 1px solid #00bfc5;
	background-color: #00bfc5;
}
.calculate-shipping form input[type='submit']:hover {
	border-color: #00bfc5;
	background-color: #00bfc5;
}
.discount-coupon form input[type='submit']:hover {
	border-color: #00bfc5;
	background-color: #00bfc5;
}
.cart-summary .cart-summary-button button:hover {
	border-color: #00bfc5;
	background-color: #00bfc5;
}
.cart-summary .cart-summary-button button.checkout-btn:hover {
	border-color: #00bfc5;
	background-color: #00bfc5;
}
.place-order:hover {
	background-color: #00bfc5;
}
.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active {
	background-color: #00bfc5;
}
.myaccount-content .welcome a:hover {
	color: #00bfc5;
}
.myaccount-content a.edit-address-btn:hover {
	background-color: #00bfc5;
}
.myaccount-content button.save-change-btn:hover {
	background-color: #00bfc5;
}
.myaccount-table table td a:hover,
.myaccount-table .table td a:hover {
	color: #00bfc5;
}
.saved-message {
	border-top: 3px solid #00bfc5;
}
.register-button:hover {
	background-color: #00bfc5;
}
.forget-pass-link:hover {
	color: #00bfc5;
}
.faq-wrapper .card-header h5 button[aria-expanded='true'] {
	background-color: #00bfc5;
}
.compare-table .table tbody tr td.product-image-title .category:hover {
	color: #00bfc5;
}
.compare-table .table tbody tr td.product-image-title .title:hover {
	color: #00bfc5;
}
.compare-table .table tbody tr td.pro-addtocart .add-to-cart:hover {
	background-color: #00bfc5;
}
.contact-button:hover {
	border-color: #00bfc5;
	background-color: #00bfc5;
}
.about-content h1 span {
	color: #00bfc5;
}
.single-blog-post__content .title a:hover {
	color: #00bfc5;
}
.single-blog-post__content .blog-post-link:hover {
	color: #00bfc5;
}
.single-block .image a:hover {
	border: 2px solid #00bfc5;
}
.single-block .content p a:hover {
	color: #00bfc5;
}
.single-block.comment-block .content p a:hover {
	color: #00bfc5;
}
.blog-single-post-container .post-meta p a:hover {
	color: #00bfc5;
}
.blog-single-post-container .single-blog-post-media .blog-categories ul li a:hover {
	background-color: #00bfc5;
}
.blog-single-post-container .post-content blockquote {
	border-left: 5px solid #00bfc5;
}
.blog-single-post-container .tag-area ul li a:hover {
	color: #00bfc5;
}
.blog-single-post-container .related-post-container .single-related-post .content h3.related-post-title a:hover {
	color: #00bfc5;
}
.comment-container .single-comment span.reply-btn a {
	color: #00bfc5;
	border: 1px solid #00bfc5;
}

.comment-container .single-comment span.reply-btn a:hover {
	background-color: #00bfc5;
}
.comment-btn:hover {
	border-color: #00bfc5;
	background-color: #00bfc5;
}
.single-grid-product__image .hover-icons a.is-active {
  color: #00bfc5;
}


/* custom css */

.single-grid-product__image .hover-icons button:hover i {
  color: #00bfc5;
}
.single-sidebar-widget__category-list--abs-icon li.active a::before {
  border-color: #00bfc5;
  background:#00bfc5
}
.single-sidebar-widget__category-list li.active a {
  color: #00bfc5;
}
.common-class .switcher-dropdown li:hover a,.common-class .switcher-dropdown li.active a {
  color: #00bfc5;
}
a.product-single__thumbnail.active img{
  border: 1px solid #00bfc5;
}
.wishlist-compare-btn a.is-active i {
  color: #00bfc5;
}
.shopify-payment-button .shopify-payment-button__button--unbranded:hover {
  color: #00bfc5;
  border-color: #00bfc5;
}
.spr-container .spr-summary-actions-newreview:hover {
	color: #00bfc5;
}
.spr-content .spr-button:hover {
	color: #00bfc5;
	border-color: #00bfc5;
}
.compare.add-success.added,.compare.add-success.added i {
	color: #00bfc5;
}
.swatch-element input:checked + label {
	color: #00bfc5;
}
.category-sub-menu .single-sidebar-widget__category-list  li:hover > a {
  color: #00bfc5;
}
.product-price.product-info__price {
	color: #00bfc5;
}




