ul ul, ul ol, ol ol, ol ul {
  margin: 0;
}
.navigation-menu-wrapper nav > ul > li > a {
  text-transform: uppercase;
}
.single-category-item__content .title {
  text-transform: capitalize;
}
.product-countdown .single-countdown {
  padding: 7px;
}
.product-countdown .countdown-area {
  display: flex;
}
.single-grid-product .product-countdown {
	width: auto;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	transition: .3s
}
.single-grid-product:hover .product-countdown {
  opacity: 0;
  z-index: -1;
}
.product-countdown .single-countdown {
  text-transform: capitalize;
}
.single-grid-product__category-rating .rating i {
  font-size: 9px;
  color: #f5c60d;
  margin: 0 1px;
}
.spr-badge-caption {
  display: none;
}
.single-grid-product__image .hover-icons a.is-active {
  color: #00bfc5;
}

.single-grid-product__image .hover-icons button {
  display: inline-block;
  text-align: center;
  color: #292929;
  border-right: 1px solid #ebebeb;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  font-size:20px;
}
.single-grid-product__image .hover-icons button i {
  transition:.3s
}
.single-grid-product__image .hover-icons button:hover i {
  color: #00bfc5;
}
button.cart-disable {
  cursor: not-allowed;
}
.double-row-slider-wrapper .single-grid-product {
  min-height: auto;
}
.double-row-slider-wrapper.product_row_one .single-grid-product {
  margin-bottom: 0;
}
.single-grid-product--widget-mode {
  float: left;
}

.post-meta time {
  color: #333;
}
.single-sidebar-widget form button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.single-sidebar-widget input {
  padding-right: 60px;
}
.theme-default-pagination li.active a {
  color: red;
}
.pagination-area__right .pagination-section {
  text-align: center;
}
.pagination-area {
  justify-content: center;
}

.grid-icons button.three-column {
  width: 20px;
  margin-right: 4px;
  background-image: url('grid-3-column.png');
}

.grid-icons button.three-column:hover,
.grid-icons button.three-column.active {
  background-image: url('grid-3-column-hover.png');
}

.grid-icons button.four-column {
  width: 35px;
  margin-right: 4px;
  background-image: url('grid-4-column.png');
}

.grid-icons button.four-column:hover,
.grid-icons button.four-column.active {
  background-image: url('grid-4-column-hover.png');
}

.grid-icons button.five-column {
  width: 35px;
  margin-right: 4px;
  background-image: url('grid-5-column.png');
}

.grid-icons button.five-column:hover,
.grid-icons button.five-column.active {
  background-image: url('grid-5-column-hover.png');
}

.grid-icons button.list-view {
  width: 20px;
  margin-left: 6px;
  background-image: url('list.png');
}

.grid-icons button.list-view:hover,
.grid-icons button.list-view.active {
  background-image: url('list-hover.png');
}
.single-sidebar-widget__category-list--abs-icon li.active a::before {
  border-color: #00bfc5;
  background:#00bfc5
}
.single-sidebar-widget__category-list li.active a {
  color: #00bfc5;
}

.single-sidebar-widget__tag-list li.active a {
  color: #fff;
  border-color: #333;
  background: #333;
}

.single-grid-product--list-view__content .rating i {
  font-size: 9px;
  color: #f5c60d;
  margin: 0 1px;
}
.shop-header__right .single-select-block select#SortBy {
  padding-right: 20px !important;
}

.cart-empty-title h3 {
  font-size: 20px;
}
.mini-cart .single-cart-item .remove-icon {
  right: -5px;
}


.common-class .switcher-dropdown {
  width: 190px;
  background: #f4f4f4;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 35px;
  border: 1px solid #eee;
  opacity: 0;
  transition: .3s;
  visibility: hidden;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}
.switcher-dropdown .currency__item {
  padding: 5px 0;
}
.settings-dropdown-wrapper.common-class {
  position: relative;
}
.common-class .switcher-currency-trigger.currency {
  width: 50px;
  cursor: pointer;
}

.common-class .currency:hover .switcher-dropdown {
	opacity: 1;
	visibility: visible;
	z-index: 9;
    top: 20px;
}
.common-class .switcher-dropdown li:hover a,.common-class .switcher-dropdown li.active a {
  color: #00bfc5;
}

.currency-picker-2 .dropdown-toggle::after {
  display: none;
}
.login-form-container .login-form input {
  border: 1px solid #eee;
}

.offcanvas-navigation .current-currency.title {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
}
.offcanvas-navigation .dropdown-toggle::after {
  display: none;
}
.breadcrumb-area {
  position:relative
}
.product-single__thumbnail {
  padding: 0 5px;
}
.product-details-small-image-slider-wrapper--horizontal-space {
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
}
a.product-single__thumbnail.active {
  border: none;
}
a.product-single__thumbnail img {
  border: 1px solid transparent ;
}
a.product-single__thumbnail.active img{
  border: 1px solid #00bfc5;
}
.product-details-small-image-slider-wrapper--horizontal-space .slick-arrow i {
  cursor: pointer;
}
.single-product-main-content-area .single-product-content-description .product-countdown .single-countdown {
  height:auto;
  width:auto
}
.custom-payment-options p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}
.wishlist-compare-btn a.is-active i {
  color: #00bfc5;
}
.product-actions .product-buttons {
  margin-left: 0;
}
.quantity-selection.quantity-selector {
  margin-right: 15px;
}
.shopify-payment-button .shopify-payment-button__button {
  height: 54px;
  font-weight: 600;
  font-family: Poppins;
  width: 82%;
  margin-top: 20px;
}
.shopify-payment-button .shopify-payment-button__button--unbranded {
	background-color: transparent;
	padding: 1em 2em;
	color: #fff;
	border: 1px solid #292929;
	border-radius: 0;
	transition: .3s;
	background: #292929;
}
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: transparent !important;
}
.shopify-payment-button .shopify-payment-button__button--unbranded:hover {
  color: #00bfc5;
  border-color: #00bfc5;
}
.shopify-payment-button .shopify-payment-button__more-options {
	width: 82%;
	position: absolute;
}
.product-ratting .spr-starrating i {
	color: #f5c60d;
	font-size: 10px;
	margin-right: 2px;
	line-height: 10px;
}
.single-product-content-description .product-ratting {
	margin-bottom: 20px;
}
.single-product-content-description .spr-badge-caption {
	display: inline-block;
	margin-left: 5px;
	top: 2px;
	position: relative;
}
.spr-container .spr-summary-actions-newreview:hover {
	color: #00bfc5;
}
.spr-content .spr-button {
	color: #292929;
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
}
.spr-content .spr-button:hover {
	color: #00bfc5;
	border-color: #00bfc5;
}
button.disabled {
	cursor: not-allowed;
}
.compare.add-success.added,.compare.add-success.added i {
	color: #00bfc5;
}
.swatch-element input:checked + label {
	color: #00bfc5;
}
.category-sub-menu .single-sidebar-widget__category-list  li a {
  color: #777;
  transition:.3s
}
.category-sub-menu .single-sidebar-widget__category-list  li:hover > a {
  color: #00bfc5;
}
#quickViewModal .modal-body {
	padding: 20px;
}
.qwick-view-content > h1 {
	color: #777;
	font-size: 26px;
}
.quick-view-rating.rating {
	margin-top: 10px;
}
#quickViewModal .close {
	color: #777;
	font-size: 20px;
  	right: 10px;
}
.quick-view-rating.rating i {
	color: #f5c60d;
}
.product-price.product-info__price {
	font-size: 20px;
	color: #00bfc5;
}
.form-group.subscribe-form-group p input {
	position: relative;
	top: 2px;
}
.newsletter_popup_inner {
	overflow: hidden;
}
.popup_off {
	font-size: 20px;
	right: 3px;
	top: 5px;
}
.widget-product-list-wrapper .single-grid-product--widget-mode {
	float: none;
}

.header-wrapper {
	position: relative;
}
.navigation-menu-wrapper nav > ul > li.mega_static {
	position: static;
}
.mega_static .mega-menu.four-column {
	left: 0;
}
.single-sidebar-widget input {
	width: 100%;
}

.jekono_nam {
	opacity: 0;
	visibility: hidden;
}
.double-row-slider-wrapper {
	margin-bottom: unset;
}
.custom-layout-area {
	padding-top: 0;
}
.header-area--transparent-color.header-common-class .logo {
	text-align: center;
}
.header-area--multi-row.header-common-class .header-wrapper .navigation-menu-wrapper nav > ul > li .mega-menu {
	left: 0;
}
.custom-layout-area .header-area--transparent-color.header-common-class {
	background-color: #f4f4f4;
}
.custom-layout-area .common_class_slider_3 {
	padding-top: 50px;
}

.header-area--multi-row.header-area--multi-row--separate-navigation .header-wrapper .logo {
	text-align: center;
}
.header-area--multi-row--separate-navigation .navigation-menu-area .navigation-menu-wrapper nav > ul > li .mega-menu {
	left: 0;
}

.product-description ul li {
	list-style: inside;
}
.page-search-bar .page-search-button {
	right: auto;
}

.common_class_slider .hero-slider-content.text-center p.slider-title--small,
.common_class_slider_3 .hero-slider-item-wrapper .hero-slider-content.text-center p.slider-title {
	margin-left: auto;
	margin-right: auto;
}
.common_class_slider .hero-slider-content.text-right p.slider-title--small,
.common_class_slider_3 .hero-slider-content.text-right p.slider-title--small {
	margin-left: auto;
}
.common_class_slider_3 .hero-slider-content.text-right p.slider-title--small {
	margin-left: auto;
}
.common_class_slider_3 .hero-slider-item-wrapper--minimal-height .hero-slider-content.text-right {
	padding-right: 85px;
}
.common_class_slider_3 .hero-slider-item-wrapper--minimal-height .hero-slider-content.text-center {
	padding-left: 0;
}



























