/* Large screen desktop */
@media (min-width: 1365px) and (max-width: 1500px){
.breadcrumb-area {
	padding: 100px 0 !important;
}
  

}

@media (min-width: 1200px) and (max-width: 1299px){

  .breadcrumb-area {
	padding: 100px 0 !important;
}
  

}

@media (min-width: 1170px) and (max-width: 1299px){
.breadcrumb-area {
	padding: 100px 0 !important;
}
  

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.breadcrumb-area {
	padding: 100px 0 !important;
}
.single-sidebar-widget input {
	width: 100%;
}

  
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .cart-total {
    margin-top: 30px;
  }
  #moda-compare .modal-dialog {
    max-width: 80%;
  }
  .featured-product-iamge {
    padding-right: 0;
  }
  .featured-product-content {
    padding-left: 0;
  }
  .single-grid-product .product-countdown .single-countdown {
    padding: 6px;
  }
.breadcrumb-area {
	padding: 100px 0 !important;
}

  
  
}


/* Small and large mobile :320px. */
@media (max-width: 767px) {
  .cart-total {
    margin-top: 30px;
  }
  .cart-buttons .theme-default-button{
    padding: 8px 20px;
  }
  .search-item-image {
    width: 100%;
  }
  .search-item-content {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  #moda-compare .modal-dialog {
    max-width: 90%;
  }
  .featured-product-content{
    margin-top: 30px;
  }
  .featured-product-iamge {
    padding-right: 0;
  }
  .featured-product-content {
    padding-left: 0;
  }
  .footer-logo {
      text-align: center;
      margin-bottom: 15px;
  }
  .footer-copyright-wrapper .copyright-text {
    margin-bottom: 15px;
  }
.single-grid-product .product-countdown .single-countdown {
	padding: 5px;
}
  
  
  
}


/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .login-form-container {
    padding: 30px 20px;
  }
  .form-action-button .theme-default-button + .theme-default-button, 
  .cart-buttons .theme-default-button + .theme-default-button{
    margin-left: 0;
    margin-top: 20px;
  }
  .form-action-button .theme-default-button,
  .cart-buttons .theme-default-button,
  .guest-form-container .theme-default-button{
    float: left;
    width: 100%;
  }
}